@{
    ViewBag.Title = "Lunch Buddies";
}

<div style="display: none" data-bind="visible: true">
    <div id="userSettings" data-bind="with: user">
        Hello, <a href="#" id="userInfo" data-bind="text: name, click: manage"></a>
        &nbsp;<a href="#" data-bind="click: logOff">Log off</a>
    </div>

    <div id="body">
        <header>
            <img src="~/img/lunchBuddiesLogo.png" />
        </header>

        <div id="main-content">
            <div data-bind="foreach: errors">
                <p class="error" data-bind="text: $data"></p>
            </div>
            <div data-bind="visible: chosenViewId() == Views.Loading">
                Loading...
            </div>
            <div data-bind="visible: chosenViewId() == Views.Todo, with: todo">
                @Html.Partial("_Todo")
            </div>
            <div data-bind="visible: chosenViewId() == Views.Login, with: login">
                @Html.Partial("_Login")
            </div>
            <div data-bind="visible: chosenViewId() == Views.Register, with: register">
                @Html.Partial("_Register")
            </div>
            <div data-bind="visible: chosenViewId() == Views.ConfirmRegistration, with: confirmRegistration">
                @Html.Partial("_ConfirmRegistration")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery.signalR")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/sammy-0.7.4.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/LunchHub.js"></script>
    @Scripts.Render("~/bundles/todo")*@

<script src="/Scripts/jquery-1.8.2.js"></script>
<script src="/Scripts/jquery.signalR-2.0.0-beta1.js"></script>
<script src="/Scripts/bootstrap.js"></script>
<script src="/Scripts/jquery-1.8.2.js"></script>
<script src="/Scripts/jquery.signalR-2.0.0-beta1.js"></script>
<script src="/Scripts/knockout-2.2.1.debug.js"></script>
<script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="/Scripts/sammy-0.7.4.js"></script>
<script src="/signalr/hubs"></script>
<script src="/Scripts/LunchHub.js"></script>
<script src="/Scripts/app/ajaxPrefilters.js"></script>
<script src="/Scripts/app/app.bindings.js"></script>
<script src="/Scripts/app/app.datamodel.js"></script>
<script src="/Scripts/app/app.extenders.js"></script>
<script src="/Scripts/app/login.viewmodel.js"></script>
<script src="/Scripts/app/register.viewmodel.js"></script>
<script src="/Scripts/app/confirmRegistration.viewmodel.js"></script>
<script src="/Scripts/app/todo.model.js"></script>
<script src="/Scripts/app/todo.viewmodel.js"></script>
<script src="/Scripts/app/userInfo.viewmodel.js"></script>
<script src="/Scripts/app/app.viewmodel.js"></script>

}
