@{
    ViewBag.Title = "Lunch Buddies";
}

<div style="display: none" data-bind="visible: true">
    <div id="userSettings" data-bind="with: user">
        Hello, <a href="#" data-bind="text: name, click: manage"></a>
        &nbsp;<a href="#" data-bind="click: logOff">Log off</a>
    </div>

    <div id="body">
        <header>
            <h1>@ViewBag.Title</h1>
        </header>

        <div id="main-content">
            <div data-bind="foreach: errors">
                <p class="error" data-bind="text: $data"></p>
            </div>
            <div data-bind="visible: chosenViewId() == Views.Loading">
                Loading...
            </div>
            <div data-bind="visible: chosenViewId() == Views.Todo, with: todo">
                @Html.Partial("_Todo")
            </div>
            <div data-bind="visible: chosenViewId() == Views.Login, with: login">
                @Html.Partial("_Login")
            </div>
            <div data-bind="visible: chosenViewId() == Views.Register, with: register">
                @Html.Partial("_Register")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/sammy-0.7.4.js"></script>
    @Scripts.Render("~/bundles/todo")
}
